{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true
}
